h1 {
    font-size: 3.2em;
    line-height: 1.1;
    padding: 0.5rem;
    text-align: center;
    color: white;
}

.linkH1{
    text-decoration: none;
}

.navbar{
    height: 100px;
    border-bottom: 2px solid;
}

.navbar input{
    font-size: 14pt;
    padding: 7px;
}

.navbar span {
    margin: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: lightblue;
}

.navbar p {
    margin-top: 10px;
}

/* ################################################ */
/* MOVIES CSS */
.content {
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-top: 40px;
}

.movies {
    margin: 0 auto;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    padding: 1.4rem;
    background-color: gray;
}

.cardContent {
    width: 300px;
    padding: 7px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.cardContent p {
    text-align: center;
}

.showMore {
    margin-top: 20px;
    padding: 0.5rem;
}

.heart{
    cursor: pointer;
    padding: 2px;
    font-size: 20pt;
    border: 2px solid;
}

.cardDetailsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDetails {
    position: relative;
    border: 2px solid;
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: grey;
    padding: 10px;
}

.cardDetails button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.cardDetails h2{
    margin: 10px;
}

.cardDetails img{
    margin: 10px;
    margin-top: 20px;
    border: 2px solid;
}

.cardDetails p{
    margin: 10px;
    padding: 20px;
}


/* ################################################ */
/* LOGIN/REGISTER CSS */
.login {
    padding: 4px;
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpCard {
    background-color: rgb(101, 97, 97);
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 350px;
    border: 2px solid;
}

.logInCard {
    background-color: rgb(101, 97, 97);
    border: 2px solid;
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 220px;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.signUpContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.logInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
}

.signUpForm {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logInForm {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.logInForm input {
    font-size: 16pt;
    padding: 4px;
}

.signUpForm input {
    font-size: 16pt;
    padding: 4px;
}

.signUpContainer button {
    width: 100px;
    padding: 4px;
}

.logInForm button {
    width: 100px;
    padding: 4px;
}
