h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 2rem;
  text-align: center;
}

.content{
  margin: 0 auto;
  padding: 1.4rem;
  width: 98vw;
  border: 2px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}